<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Movie</title>
<link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<div th:insert="fragments/header :: header"></div>
<body>
	<div class="container">
	</div>
	<form method="POST" th:object="${movie}" action="/movie">
	<input type="hidden" th:field="*{id}" class="form-control" /> 
		<div class="col-sm-4">
			<div class="form-group">
				<label for="name">Name</label> 
				<input type="text" th:field="*{name}" class="form-control" /> 
				<span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
					Name Error
				</span>
			</div>

			<div class="form-group">
				<label for="director">Director</label> 
				<input type="text" th:field="*{director}" class="form-control" /> 
				<span class="validationError" th:if="${#fields.hasErrors('director')}" th:errors="*{director}">
					Director Error
				</span>
			</div>

			<div class="form-group">
				<label for="genre">Genre</label> 
				<select	class="form-control selectpicker" th:field="*{genre}">
					<option value="">Nothing selected</option>
					<!-- 
					<option th:each="g : ${genres}" 
							th:value="${g}" 
							th:text="${g}">genre
					</option>
					-->
					
                    <option th:each="g : ${T(com.spring.javaEE.model.Genres).values()}"
                                th:value="${g}"
                                th:text="${g}">genre
                    </option>
				 	
				</select>
			</div>

			<div class="form-group">
				<label for="year">Year</label> 
				<input type="text" th:field="*{year}" class="form-control" />
			    <span class="validationError" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">
			   		 Year Error
				</span>
			</div>
			
			<div th:if="${movie.id}">
				<button type="submit" class="btn btn-primary"> Update </button>
			</div> 
			
			<div th:if="${movie.id==null}">
				<button type="submit" class="btn btn-primary"> Create </button>
			</div>
			
		</div>
	</form>
	
	<div th:insert="fragments/footer :: footer"></div>
</body>
</html>